:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  
  color-scheme: light dark;
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
}

body, html {
  background-color: #2c2d48;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.app {
  background-color: #2c2d48;
  color: white;
}

.sidebar {
  position: relative;
  background-color: #181a2d;
  height: 100vh;
  width: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-content {
  height: 78%;
}

.app-content{
  background-color: #1e2036;
  width: 80%;
  padding: 2rem;
}

.container {
  display: flex;
}

.logo {
  display: flex;
  text-align: center;
  padding: 2rem;
}

.credits {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #5d5f82;
  padding: 2rem;
}